.order_info_heading {
    background-color: var(--nav-bg);
    padding: 0.325rem;
    color: var(--light-color);
}

.order-information-heading {
    padding: 0.325rem 0;
    color: var(--nav-bg);
    margin-top: var(--top-whitespace);
    margin-bottom: var(--margin-bottom);
}

.order_information_details {
    /* box-shadow: var(--box-shadow-1); */
    margin-bottom: var(--margin-bottom);
}

.list_content {
    padding: 0.625rem;
    font-weight: 300;
    border-bottom: 2px solid var(--muted-color);
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--muted-color);
}

/* .list_content:not(:last-child){
} */

.address_section {
    padding: 0.325rem 0;
    margin-top: var(--top-whitespace);
    margin-bottom: var(--margin-bottom);
}

.payment_address,
.shipping_address {
    /* box-shadow: var(--box-shadow-1); */
    margin-bottom: 2rem;
}

.cancel_order_btn {
    color: var(--muted-color);
    text-transform: capitalize;
}

.cancel_order_btn:hover {
    text-decoration: underline;
}

.cancel_order_popup {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 999;
}

.cancel_order_backdrop {
    position: fixed;
    top: 0 !important;
    min-height: 100%;
    width: 100%;
    background: var(--dark-color);
    opacity: 0.4;
    z-index: 997;
    left: 0;
    top: 76px;
    cursor: pointer;
}