.right-border{

    position: relative;
}
.right-border::after{
    content: '';
    border-right: 3px solid var(--dark-color);
    height: 100%;
    position: absolute;
    right: 12px;
    top: 0;
}
.bottom-border{
    position: relative;
}
.bottom-border::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -12px;
    border-bottom: 2px solid #ddd;
}
.order-information-heading {
    margin-bottom: 2rem;
    padding-top: 1.2rem;
} 
.order_information{
    min-height: 100vh;
    background-color: #F8F8F8;
}
.track_order_body{
    border: 1px solid #ddd;
    box-shadow: 0px ​3px 4px rgba(0, 0, 0, 0.39%);
    -webkit-box-shadow: 0px ​3px 4px rgba(0, 0, 0, 0.39%);
-moz-box-shadow: 0px ​3px 4px rgba(0, 0, 0, 0.39%);
    background-color: #fff;
}
.proccess_content{
    text-align: center;
}
.proccess_content svg{
    font-size: 1.5rem;
    color: var(--theme-color);
}
.proccess_content_text p:first-child{
    font-weight: normal;
    font-size: 1.4rem;
}
 .order_information_details {
    /* box-shadow: var(--box-shadow-1);  */
    padding: 0.5rem 1rem;
    margin-bottom: var(--margin-bottom);
    background-color: #fff;
}

.list_content {
    padding: 0.625rem 0;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--dark-color);
}
.list_content_head{
    font-weight: 600;
    margin-right: 0.4rem;
}
.product_table{
    width: 100%;
    overflow: auto;
}
.product_table thead{
    font-size: 1.2rem;
    background-color: var(--theme-color);
    color: #fff;
}
/* On Order Page Yet to Active these styles */
.cancel_order_btn {
    color: var(--muted-color);
    text-transform: capitalize;
}

.cancel_order_btn:hover {
    text-decoration: underline;
}

.cancel_order_popup {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 999;
}

.cancel_order_backdrop {
    position: fixed;
    top: 0 !important;
    min-height: 100%;
    width: 100%;
    background: var(--dark-color);
    opacity: 0.4;
    z-index: 997;
    left: 0;
    top: 76px;
    cursor: pointer;
}