/* Product Header Css starts here */
.product_slider_wrapper{
    margin-bottom: var(--margin-bottom);
}
.product_slider_wrapper .slider_image{
    width: 100%;
    /* height: 100%; */
    height: 426px;
    object-fit: contain;
}
/* Carrosel overwritten Css */
.product_slider_wrapper .carousel p.carousel-status{
    display:none;
}
.product_slider_wrapper .thumbs-wrapper .thumbs .thumb img{
    height: 80px !important;
}
.product_slider_wrapper .carousel .thumbs-wrapper{
    margin: 0!important;
    margin-top: 20px!important;
}

/* Details information css */
.product_slider_details{
    font-size: 1.2rem;
}
.product_details_name p{
    font-size: 2rem ;
}
.product_brand_name_sku{
    text-transform: capitalize;
}
.product_brand_name::after{
    content: '|';
    /* font-size: 2rem; */
    font-weight: 600;
    margin: 0 1rem;
}
.product_stars::after{
    content: '';
    margin: 0 0.635rem;
}
.product_reviews_count{
    color: var(--reviews-color);
}
.product_stock{
    text-transform: capitalize;
}
.product_short_list ul {
    padding: 1rem;
    text-transform: capitalize;
}
.product_short_list ul li{
    list-style-type: disc;
}
.product_prices .regular_price{
    font-size: 1.5rem;
    font-weight: 700;
}
.product_buttons .product_quantity{
    margin-right: 1.7rem;
}
.product_buttons button{
    background-color: var(--theme-color);
    color: var(--light-color);
    border-radius: 3rem;
    text-transform: capitalize;
}
.product_buttons button:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.product_buttons button img{
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin-right: 0.4rem;
}
.product_quantity{
    padding: 0.4rem;
    border: 1px solid var(--theme-color);
}
.product_quantity .lnr{
    cursor: pointer;
}
.product_quantity input{
    height: 30px;
    width: 60px;
    border: none;
    outline: none;
    text-align: center;
}
/* Product Header Css ends here */

/* Product Details Css starts here */
    .details__wrapper{
        padding: 1.8rem;
        color: var(--dark-color);
    }
    .details__wrapper p{
        margin-bottom: 0;
    }
/* Product Details Css ends here */

/* Related Product Details Css starts here */
.related_products .section_header{
    padding: 1.4rem 0 !important;
    margin-bottom: 0.625rem ;
    font-weight: 600;
}
/* Related Product Details Css ends here */