.about_heading h1{
    font-weight: 600;
}
.about_p p{
font-size: 1.2rem;
text-align: left;
font-weight: 300;
}

.about_list ul li{
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
}
.about_list ul li img{
    margin-right: 0.6rem;
}

/* about body */
.body_top_button{
    text-align: center;
    margin-bottom: 0.7rem;
}
.body_top_button a img{
    margin-bottom: 0.8rem;
    width: 1.25rem;
}
.body_top_button p{
    font-size: 1.2rem;
    margin-bottom: 3rem;

}
.quote{
    text-align: left;
    margin-bottom: 1.2rem;
}
.qoutes_img img{
    width: 3rem;
}
.quote h3{
    margin-bottom: var(--margin-bottom);
    font-weight: 600;
}
.quote p{
    font-weight: 300;
    text-align: left;
    font-size: 1.2rem;
}
/* footer css */
.about_footer p{
    font-weight: 300;
    margin-top: 1rem;
    font-size: 1.2rem;
}