/*--------------------------------------------------------------------
                        All Product Cards starts
--------------------------------------------------------------------*/
.product_card_wrapper {
    border: 1px solid var(--border-color-one);
    border-radius: 0.35rem;
}

.product_card_footer {
    padding: 0.85rem;
}
.product_image img{
    height: 150px;
    width: 100%;
    object-fit: contain;
    padding:0.85rem;
}
.product_name {
    height: 48px;
padding:0.85rem;
}
.product_name a p{
    color: var(--dark-color);
    font-size: 0.8rem;
}

.product_name a:hover p{
    color: var(--theme-color);
}

.product_name p {
    color: var(--font-color-one);
    margin: 0 !important;
}

.product_rates_price .product_rating img {
    height: 10px;
    width: 10px;
    object-fit: contain;
    margin-right: 0.2rem;
}

.product_rates_price .product_price p {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.65rem;
}

.product_card_footer .addTocart_btn img {
    height: 20px;
    width: 20px;
    object-fit: contain;

}

/*--------------------------------------------------------------------
                        All Product Cards Ends
--------------------------------------------------------------------*/
