/*--------------------------------------------------------------------
                        All Product Cards starts
--------------------------------------------------------------------*/
.product_card_wrapper {
    border: 1px solid var(--border-color-one);
    border-radius: 0.35rem;
}
.product_card_wrapper .product_body {
    position: relative;
}
.product_card_wrapper .product_body .product_label {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 50;
    background: #09B252;
    padding: 0.2rem 10px;
    border-radius: 0.25rem;
    color: var(--light-color);
    font-size: 14px;
    font-size: 10px;
    /* font-size: 1rem; */
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: 3;
}
.product_card_wrapper .product_body .product_campaign_section {
    display: block;
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
}

.product_card_footer {
    padding: 0.85rem;
}
.product_image img{
    height: 150px;
    width: 100%;
    object-fit: contain;
    padding:0.85rem;
}
.product_name {
    height: 30px;
    padding: 0 0.85rem;
    overflow: hidden;
}
.product_name a p{
    color: var(--dark-color);
    font-size: 0.8rem;
}

.product_name a:hover p{
    color: var(--theme-color);
}

.product_name p {
    color: var(--font-color-one);
    margin: 0 !important;
}

.product_rates_price .product_rating img {
    height: 10px;
    width: 10px;
    object-fit: contain;
    margin-right: 0.2rem;
}

.product_rates_price .product_price p {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.65rem;
}

.product_card_footer .addTocart_btn img {
    height: 20px;
    width: 20px;
    object-fit: contain;

}
.campaign_old_price{
    text-decoration: line-through;
}

/*--------------------------------------------------------------------
                        All Product Cards Ends
--------------------------------------------------------------------*/
