@media (min-width: 1550px) {
  .col-xxl-2{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1370px) {
  .sidebar_list_wrapper .sidebar_list li a{
    font-size: 1.2rem !important;
    /* padding: 0 !important; */
  }
  .product_slider_details,
  .product_prices .regular_price{
    font-size: 1.5rem !important;
  }
  .product_buttons button{
    font-size: 1.6rem !important;
}
.details__wrapper p{
  font-size: 1.3rem;
}
.single_feature .text small{
  font-size: 75%;
}
.category_dropdown{
  width: 18% !important;
  }
}
@media (max-width: 1300px) {
  .header__nav {
    justify-content: flex-end;
  }
}
/* XL Device :1200px. */
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm,.container-md-fluid, .container-xl{
    min-width: 90% !important;
  }
  .more_link,.nav_links ul li a {
    font-size: 1rem !important;
  }
  .nav_links ul li a {
    margin-right: 1rem !important;
  }
  .nav_links ul li a.nav-all {
    top: 6px !important;
}
  .header__option__lineOne {
    font-size:1rem ;
  }
}
@media (min-width: 1024px){
  .category_image {
    min-width: 77px;
}
  .category_image img {
    min-width: 77px;
}
.data-list {
  width: 96%;
  left: 17px;
  }
}

/* ===================================== */
/* LG Device :992px. */
@media (min-width: 1000px) and (max-width:1400px) {
  .header_nav .more_link {
    /* font-size: 0.8rem !important; */
}
.nav_links ul li a {
    /* font-size: 0.8rem !important; */
}
}
@media (min-width: 992px) and (max-width:1199px) {
  .nav_links ul li a.nav-all {
    top: 8px;
}
  .more_link,.nav_links ul li a{
    /* font-size: 0.8rem !important;  */
    font-size: 0.6rem !important; 
   }
   .category_dropdown{
    width: 25% !important;
    }
}
@media (min-width: 992px) {
  /*and (max-width: 1199px) */
  .header__option {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  }
  .header__option__lineTwo {
    font-size: 0.8rem;
    /* font-size: 16px; */
    font-weight: 700;
  }
  .header_nav {
    padding: 0rem 1rem;
    justify-content: space-between;
  }
  .header__link .header__option__basket .icon_name {
    display: block;
  }
  .nav_links .nav-sections{
    display: block;
  }
  
  .btn-cart {
    font-size: 1rem;
  }
  .health_banner_image {
    margin-bottom: 0;
  }
  .back_to_top span.flat-btn {
    display: block;
  }
  /* .scroll-top {
    display: none;
  } */
  .cart_sidebar_route{
    width: calc(85% - 60%)!important;
  }
  /* .wishlist_body,
  .order_lists,.my_orders {
    overflow-x: hidden  !important;
} */
}
/* ===================================== */
@media (min-width: 991px) {
  
}

/* MD Device */
@media (min-width: 768px) and (max-width:991px) {
  .section_heading_one{
    font-size: 1.7rem;
  }
  .header_nav {
    justify-content: center;
    padding: 0rem 1rem;
  }
  /* .header_nav .more_link {
    font-size: 0.6rem !important;
}
.nav_links ul li a {
    font-size: 0.6rem !important;
} */
/* .header__option span {
  font-size: 0.7rem;
} */
.header__option {
  margin-left: 1rem;
}
/* PRODUCT DETAILS CSS */
.details_product-name {
  font-size: 1.2rem!important;}
  .details_footer ul li {
    font-size: 1rem!important;
  }
  .details_footer h4 {
    font-size: 1.3rem;
    text-align: center;
  }
  .category_dropdown{
    width: 40% !important;
    }
}
@media (min-width: 768px) {
  .col-features{
    flex: 0 0 19.97777%;
    max-width: 19.97777%;
}
  .header__nav {
    width: 185px;
  }
.ham-burger {
  display: none !important;
}

  .more_link {
    /* font-size: 0.5rem; */
  }
  
  .nav_links ul li a.see-more{
    font-weight: 800;
  }
  .header__link,a.header__option__lineTwo.header_logout {
    display: block;
  }
    /* CATEGORY SIDEBAR CSS */
.category_sidebar_list{
  width: 22% !important;
}

}

/* SM Small Device */
@media (max-width: 767px) {
.header{
  padding: 0 20px;
}
    .container-md-fluid {
    padding:0 15px;
  }
  .single-slider{
    /* height: 150px; */
    width: 100%;
  }
  .single-slider img.slider_image{
    height: 100%;
  }
  .section_heading_one{
    font-size: 1.7rem;
  }
  .section_heading_two{
    font-size: 1.7rem;
  }
  .data-list{
    position: unset;
  }

  /* Home Categories */
  .category_name span{
    font-size: 0.8rem;
  }
  .category_btn a{
    font-size: 0.8rem;
  }
  .section_heading_three span{
    width: unset !important;
    padding: 0.8rem;
  }
}

@media (min-width:576px) {

  /* Section Header One */
  .sectionHeaderOne {
      font-size: 1.5rem;
  }

  .sectionHeaderOne ul {
      padding-bottom: 0.9rem !important;
  }

  .sectionHeaderOne ul li {
      margin-right: 1.8rem;
  }

  .sectionHeaderOne ul li a.active {
      border-bottom: 5px solid var(--theme-color);
  }
  /* Product Cards  css here*/
  .product_name{
    height: 42px;
  }
  .product_name a p{
    font-size: 1rem;
  }
  .product_rates_price .product_price p {
    font-size: 1.2rem;
  }
  .product_rates_price .product_rating img {
    height: 15px;
    width: 15px;
  }
  .product_card_footer .addTocart_btn img {
    height: 30px;
    width: 30px;
  }
  /* Product Cards  css here*/
  .user_entry_footer_msg p{
    font-size: 1.4rem;
}
.category_dropdown{
  width: 50%;
  }
}


/* x-SM Small Device */
@media (max-width: 360px) {
  .header__logo{
    width: 10.578rem;
    padding: 0.625rem ​0.5rem;
  }
}

@media (max-width: 767px) {
}
