/* .home_feature_area .features_body{
    box-shadow: -4px 7px 12px -6px rgb(0 0 0 / 23%);
} */
/* .single_feature{
    padding: 1rem ;
} */
.single_feature img{
    padding:1rem;
}
.single_feature .text{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--muted-color);
}