/* .home_feature_area .features_body{
    box-shadow: -4px 7px 12px -6px rgb(0 0 0 / 23%);
} */
/* .single_feature{
    padding: 1rem ;
} */
.single_feature:not(:last-child) {
    padding-right: .5rem!important;
}
.single_feature img{
    padding:1rem;
}
.single_feature .text{
    text-transform: capitalize;
    color: var(--muted-color);
}
.single_feature .text small{
    font-size: 50%;
}