/* .home_feature_area .features_body{
    box-shadow: -4px 7px 12px -6px rgb(0 0 0 / 23%);
} */
/* .single_feature{
    padding: 1rem ;
}
.single_feature:not(:last-child) {
    padding-right: .5rem!important;
}
 */
.single_feature img{
    padding:1rem;
}
.single_feature .text{
    text-transform: capitalize;
    color: var(--muted-color);
}
.single_feature .text small{
    font-size: 50%;
}
/* Home Expense Categories Component*/
.expense-cat-images{
    height: 70px !important;
    width: 70px !important;
    object-fit: cover !important;
}
.expense-cat-border{
    border-radius: 0.25rem;
}
.expense-text {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--theme-color);
}
/* .expense-text a:hover{
    color: var(--dark-color);
} */
.expense_headings{
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    color: var(--light-color);
    border-bottom: 2px solid var(--theme-color);
    margin-bottom: 2rem;
}
.expense_headings span{
    background-color: var(--theme-color);
}